@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style-type: none;
}

body{
    font-family: 'Raleway', sans-serif;
}

.clear-fix{
    content: "";
    display: table;
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

a{
    text-decoration: none;
}

header{
    background-color: lightblue;
    min-height: 800px;
    margin-bottom: 200px;
}

main{
    margin: 0 auto;
    width: 70%;
}

nav{
    position: fixed;
    height: 70px;
    width: 100vw;
    max-width: 100vw;
    margin: 0 auto;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid lightgray;
}

.logo{
    padding: 20px;
    vertical-align: middle;
}

.menu, .menu2, .btn{
    height: 70px;
    line-height: 70px;
}

.menu{
    margin-right: calc(100vw - 1146.54px);
}

.menu a,.menu2 a{
    margin: 0 20px;
    color: black;
}

.btn a{
    padding: 5px 20px; 
    color: white;
    background-color: dodgerblue;
}

.clear-fix .btn a{
    margin-right: 20px;
}

.section1{
    padding-top: calc(70px + 70px);
    margin: 0 10%;
    position: relative;
}

.title{
    font-size: 70px;
}

.text{
    font-size: 20px;
}

.text-left{
    width: 30%;
    margin: 50px 0 10px;
    line-height: 30px;
}

.fa-arrow-down{
    margin-top: 30px;
    font-size: 40px;
    color: black;
}

.img img{
    position: absolute;
    left: 35%;
    width: 60%;
}

.title2{
    font-size: 50px;
}

.checkbox{
    margin: 50px 0 40px
}

label{
    margin-right: 20px;
}

.table{
    min-height: 1400px;
}

.col{
    border: 1px solid black;
    width: 30%;
    min-height: 1200px;
}

.col-title{
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid black;
}

.fa-user{
    font-size: 20px;
}

.plan{
    padding: 30px;
}

.title3{
    font-size: 30px;
}

.number{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 15px 0 10px;
}

.text2{
    font-size: 15px;
}

.plan-center{
    margin: 50px 0;
}

.row{
    margin: 20px 0;
}

.table .btn{ 
    text-align: center;
    margin: 0 auto;
    font-size: 23px
}

.line{
    border-bottom: 1px solid lightgray;
    display: inline-block;
    padding-bottom: 30px;
}

.row a{
    color: blue;
    text-decoration: underline;
}

.fa-check{
    color: blue;
}

